In [8]:
from datetime import datetime

round(datetime.now().timestamp())

1739862070

In [10]:
(int(datetime.now().timestamp()))

1739862685

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Text, DateTime, func
from sqlalchemy.orm import sessionmaker, declarative_base
from datetime import datetime

# 데이터베이스 설정
date = datetime.now().strftime("%Y-%m-%d")
DATABASE_URL = f"sqlite:///./chatbot.db_{date}"

engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

# 🟢 1️⃣ 채팅 기록 테이블 모델 정의


class ChatHistory(Base):
    __tablename__ = "chat_history"

    id = Column(Integer, primary_key=True, autoincrement=True)  # 자동 증가 PK
    uuid = Column(String, nullable=False, index=True)  # 챗팅룸 ID
    question = Column(Text, nullable=False)  # 사용자 질문
    response = Column(Text, nullable=False)  # 챗봇 응답
    question_timestamp = Column(DateTime, default=func.now())  # 질문 시간
    response_timestamp = Column(DateTime, default=func.now())  # 응답 시간


# 테이블 생성
Base.metadata.create_all(bind=engine)

In [13]:
datetime.now().strftime("%Y-%m-%d")

'2025-02-18'

In [31]:
import sqlite3
from datetime import datetime
import pandas as pd

conn = sqlite3.connect("chatbot_2025-02-18.db")

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

   id       uuid question response question_timestamp response_timestamp
0   1  test-4412       안녕    안녕하세요         1739865557         1739865557

In [49]:
import os

CURRENT_PATH = os.getcwd()
PARENT_PATH = os.path.dirname(CURRENT_PATH)
DATABASE_PATH = os.path.join(PARENT_PATH, 'database')
CONVERSATION_DATABASE_PATH = os.path.join(DATABASE_PATH, 'conversation')

CONVERSATION_DATABASE_PATH

'/home/taejong_kim/workspace/rag-lab/database/conversation'

In [54]:
path

'/home/taejong_kim/workspace/rag-lab/database/conversation/chatbot_2025-02-18.db'

In [1]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-20.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,ab5ca3ec-a6f8-47f0-863d-b4a0ea6cbcb8,안녕,안녕하세요,1740011300,1740011300
1,2,ab5ca3ec-a6f8-47f0-863d-b4a0ea6cbcb8,ㅁㄴ이라ㅓ,죄송합니다. 이해할 수 없습니다.,1740011303,1740011303
2,3,ab5ca3ec-a6f8-47f0-863d-b4a0ea6cbcb8,좋아요,죄송합니다. 이해할 수 없습니다.,1740011305,1740011305
3,4,ab5ca3ec-a6f8-47f0-863d-b4a0ea6cbcb8,잘되네,죄송합니다. 이해할 수 없습니다.,1740011307,1740011307

In [56]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19, 13-46-24.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

Empty DataFrame
Columns: [id, uuid, question, response, question_timestamp, response_timestamp]
Index: []

In [ ]:
from sqlalchemy import MetaData, Table

metadata = MetaData()

In [2]:
from dotenv import load_dotenv
import os


load_dotenv()

print(os.getenv("ROOT_PATH"))
print(os.getenv("DB_PATH"))
print(os.getenv("CONVERSATION_DB_PATH"))

/home/taejong_kim/workspace/rag-lab
os.path.join(ROOT_PATH, 'database')  # db path
os.path.join(DB_PATH, 'conversation')  # conversation db 저장소

In [3]:
os.path.home()

AttributeError: module 'posixpath' has no attribute 'home'

In [ ]:
from langchain_google_genai import ChatGoogleGenerativeAI
from dotenv import load_dotenv
import os

llm = ChatGoogleGenerativeAI(model="gemini-1.5-pro-latest")

In [ ]:
question = "LLM에 대해서 간략하게 설명해줘"

answer = llm.invoke(question)

In [6]:
from langchain_core.output_parsers import StrOutputParser

chain = llm | StrOutputParser()

answer = chain.invoke(question)

In [7]:
answer

'LLM은 **Large Language Model (대규모 언어 모델)**의 약자입니다. \n\n쉽게 말해, 엄청나게 많은 텍스트 데이터를 학습하여 인간과 유사한 텍스트를 생성하고 다양한 언어 관련 작업을 수행할 수 있도록 훈련된 인공지능 모델입니다.  \n\n**주요 특징:**\n\n* **대규모 데이터:**  방대한 양의 텍스트 데이터를 학습하여 언어의 패턴과 구조를 이해합니다.\n* **다양한 작업 수행:** 텍스트 생성, 번역, 요약, 질의응답, 문법 및 맞춤법 검사 등 다양한 작업을 수행할 수 있습니다.\n* **자연스러운 텍스트 생성:** 인간이 작성한 것처럼 자연스럽고 문맥에 맞는 텍스트를 생성할 수 있습니다.\n* **딥러닝 기반:** 심층 신경망(Deep Neural Network)을 사용하여 학습됩니다.\n\n**예시:**\n\n* ChatGPT, Bard, Bing AI 등이 대표적인 LLM 기반 서비스입니다.\n\n**한계점:**\n\n* **사실과 허구 구분 어려움:** 학습 데이터에 존재하는 편견이나 오류를 그대로 반영할 수 있으며, 사실과 허구를 완벽하게 구분하지 못할 수 있습니다.\n* **상식 부족:**  세상에 대한 일반적인 상식이 부족하여 때때로 엉뚱한 답변을 할 수 있습니다.\n* **윤리적 문제:**  LLM이 생성한 텍스트가 악용될 가능성이 존재합니다.\n\n\nLLM은 계속해서 발전하고 있으며, 앞으로 더욱 다양한 분야에서 활용될 것으로 예상됩니다.'