In [8]:
from datetime import datetime

round(datetime.now().timestamp())

1739862070

In [10]:
(int(datetime.now().timestamp()))

1739862685

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Text, DateTime, func
from sqlalchemy.orm import sessionmaker, declarative_base
from datetime import datetime

# ë°ì´í„°ë² ì´ìŠ¤ ì„¤ì •
date = datetime.now().strftime("%Y-%m-%d")
DATABASE_URL = f"sqlite:///./chatbot.db_{date}"

engine = create_engine(DATABASE_URL, connect_args={"check_same_thread": False})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

# ğŸŸ¢ 1ï¸âƒ£ ì±„íŒ… ê¸°ë¡ í…Œì´ë¸” ëª¨ë¸ ì •ì˜


class ChatHistory(Base):
    __tablename__ = "chat_history"

    id = Column(Integer, primary_key=True, autoincrement=True)  # ìë™ ì¦ê°€ PK
    uuid = Column(String, nullable=False, index=True)  # ì±—íŒ…ë£¸ ID
    question = Column(Text, nullable=False)  # ì‚¬ìš©ì ì§ˆë¬¸
    response = Column(Text, nullable=False)  # ì±—ë´‡ ì‘ë‹µ
    question_timestamp = Column(DateTime, default=func.now())  # ì§ˆë¬¸ ì‹œê°„
    response_timestamp = Column(DateTime, default=func.now())  # ì‘ë‹µ ì‹œê°„


# í…Œì´ë¸” ìƒì„±
Base.metadata.create_all(bind=engine)

In [13]:
datetime.now().strftime("%Y-%m-%d")

'2025-02-18'

In [31]:
import sqlite3
from datetime import datetime
import pandas as pd

conn = sqlite3.connect("chatbot_2025-02-18.db")

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

   id       uuid question response question_timestamp response_timestamp
0   1  test-4412       ì•ˆë…•    ì•ˆë…•í•˜ì„¸ìš”         1739865557         1739865557

In [49]:
import os

CURRENT_PATH = os.getcwd()
PARENT_PATH = os.path.dirname(CURRENT_PATH)
DATABASE_PATH = os.path.join(PARENT_PATH, 'database')
CONVERSATION_DATABASE_PATH = os.path.join(DATABASE_PATH, 'conversation')

CONVERSATION_DATABASE_PATH

'/home/taejong_kim/workspace/rag-lab/database/conversation'

In [54]:
path

'/home/taejong_kim/workspace/rag-lab/database/conversation/chatbot_2025-02-18.db'

In [49]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,5750dbdc-6d4f-40bd-8fa5-98cdc89e9b58,ì•ˆë…•,ì•ˆë…•í•˜ì„¸ìš”,1739938187,1739938187
1,2,36aff37e-edda-43d8-a155-74cc9e710478,ì•ˆë…•,ì•ˆë…•í•˜ì„¸ìš”,1739938197,1739938197
2,3,85d00de9-d87f-47e6-a7df-a9ab49e539aa,ì•ˆë…•,ì•ˆë…•í•˜ì„¸ìš”,1739938564,1739938564
3,4,7317a496-fdf6-4eec-aaab-b6e285562125,ã…ã…‡,ì£„ì†¡í•©ë‹ˆë‹¤. ì´í•´í• ìˆ˜ ì—†ìŠµë‹ˆë‹¤.,1739938572,1739938572
4,5,31ebb1aa-303e-4585-a11d-a5f4d16c34ab,ì•„ëª¨ë¥´ã…”ã„±ã…†ì–´,ì£„ì†¡í•©ë‹ˆë‹¤. ì´í•´í• ìˆ˜ ì—†ìŠµë‹ˆë‹¤.,1739938579,1739938579

In [51]:
import sqlite3
from datetime import datetime
import pandas as pd

path = "/home/taejong_kim/workspace/rag-lab/database/conversation/conversation_2025-02-19, 13-37-17.db"
conn = sqlite3.connect(path)

query = "SELECT * FROM chat_history"
df = pd.read_sql_query(query, conn)
conn.close()

df.head()

,id,uuid,question,response,question_timestamp,response_timestamp
0,1,c777be2e-31a1-40e5-af78-11a6fd174844,ì•ˆë…•,ì•ˆë…•í•˜ì„¸ìš”,1739939843,1739939843
1,2,43e62c49-96a2-4b04-bef3-1bdd80a2916d,ì´ê±´ ì €ì¥ë˜ê² ì§€,ì£„ì†¡í•©ë‹ˆë‹¤. ì´í•´í• ìˆ˜ ì—†ìŠµë‹ˆë‹¤.,1739939848,1739939848
2,3,e69b0337-6aa6-4a66-a52d-e5f7c020167c,ë§¤ë²ˆ ìƒˆë¡­ê²Œ ì €ì¥ë˜ë„¤,ì£„ì†¡í•©ë‹ˆë‹¤. ì´í•´í• ìˆ˜ ì—†ìŠµë‹ˆë‹¤.,1739939853,1739939853

In [ ]:
from sqlalchemy import MetaData, Table

metadata = MetaData()